
* {
    font-size: 100%;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

body {
    background: url("bg_body.gif") repeat-x scroll left top #9BC3D5;
    color: #4B5D67;
    font: 90% Verdana,Arial,Helvetica,sans-serif;
    position: relative;
    text-align: center;
}

#piza {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

#donatieInformatie {
	width: 860px;
	margin: 20px;
	padding: 10px;
	background-color: white;
}

.donatieMogelijkheid {
	float: left;
	width: 400px;
	height: 200px;
	margin: 20px;
	padding: 10px;
	background-color: white;
	border: 1px solid black;
}

.donatieMogelijkheid.logo {
	float: center;
}

.addressHighlight {
	font-size: 16px;
	font-weight: bold;
}
