[color]
	ui = true

[core]
	autocrlf = input
	whitespace = trailing-space,space-before-tab,indent-with-non-tab

[help]
	autocorrect = true

[user]
	email = argure@argure.nl
	name = Patrick Godschalk
[push]
	default = simple
