# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# Deze moeten nog ff goedgezet worden wanneer PWM weer werkt
Redirect permanent /registreren https://pwm.piratenpartij.nl
Redirect permanent /wachtwoord-vergeten https://pwm.piratenpartij.nl
Redirect permanent /content/europese-parlementsverkiezingen https://piratenpartij.nl/standpunten
Redirect permanent /cryptoparty	https://wiki.piratenpartij.nl/werkgroep:crypto:handouts
Redirect permanent /afdeling/$1 https://piratenpartij.nl/regionaal/$1
Redirect permanent /rss.xml https://piratenpartij.nl/feed/
Redirect permanent /EP14/kandidaten/MatthijsPontier https://piratenpartij.nl/kandidaten/matthijs-pontier
Redirect permanent /EP14/kandidaten/JanmaartenBatstra https://piratenpartij.nl/kandidaten/janmaarten-batstra
Redirect permanent /EP14/kandidaten/CharifMews https://piratenpartij.nl/kandidaten/charif-mews
Redirect permanent /EP14/kandidaten/GerbenBrands https://piratenpartij.nl/kandidaten/gerben-brands
Redirect permanent /EP14/kandidaten/StevenRusschenberg https://piratenpartij.nl/kandidaten/steven-russchenberg
Redirect permanent /EP14/kandidaten/GijsPeskens https://piratenpartij.nl/kandidaten/gijs-peskens
Redirect permanent /EP14/kandidaten/WielMaessen https://piratenpartij.nl/kandidaten/wiel-maessen
Redirect permanent /EP14/kandidaten/RogierHuurman https://piratenpartij.nl/kandidaten/rogier-huurman
Redirect permanent /EP14/kandidaten/DirkPoot https://piratenpartij.nl/kandidaten/dirk-poot
